<div style="margin-top: -20px;">
<!--    <h2 style="color:#565656">Catalogo</h2><br>-->
    <div class="table-responsive" style="background: #ffffff; padding: 10px">
      <br><h2 style="color:#565656">LISTA UTENTI</h2><br>
      <div class="row">
          <input type="text" class="form-control ml-3 mr-1" style="width:20%;" placeholder="nome" #searchCol1/>
          <input type="text" class="form-control ml-1 mr-3" style="width:20%;" placeholder="cognone" #searchCol2/>
<!--          <button #btnFilter class="mr-2" style="padding-left: 25px; padding-right: 25px">FILTRA</button>-->
          <button #btnExportCSV style="padding-left: 25px; padding-right: 25px">CSV Export</button>
      </div><br/>
      <table class="table table-bordered" #kpiTable datatable [dtOptions]="dtOptions">
        <thead style="background: #E6E6E6">
        <tr>
            <th>BSI ACCOUNT</th>
            <th>NOME</th>
            <th>COGNOME</th>
            <th>STRUTTURA</th>
            <th>MAIL</th>
            <th>USERID</th>
            <th>RESPONSABILE</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of UtentiTableBodyData; index as i">
            <td>{{row.ca_bsi_account}}</td>
            <td>{{row.name}}</td>
            <td>{{row.surname}}</td>
            <td>{{row.organization}}</td>
            <td>{{row.mail}}</td>
            <td>{{row.userid}}</td>
            <td>{{row.manager}}</td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>
