<div style="margin-top: -20px;">
<!--    <h2 style="color:#565656">Catalogo</h2><br>-->
    <div class="table-responsive" style="background: #ffffff; padding: 10px">
      <br><h2 style="color:#565656">LISTA UTENTI</h2><br>
      <div class="row">
          <input type="text" class="form-control ml-3 mr-1" style="width:20%;" placeholder="nome" #searchCol1/>
          <input type="text" class="form-control ml-1 mr-3" style="width:20%;" placeholder="cognone" #searchCol2/>
<!--          <button #btnFilter class="mr-2" style="padding-left: 25px; padding-right: 25px">FILTRA</button>-->
          <button #btnExportCSV style="padding-left: 25px; padding-right: 25px">CSV Export</button>
      </div><br/>
      <table class="table table-bordered" #kpiTable>
        <thead style="background: #E6E6E6">
        <tr>
            <th>BSI ACCOUNT</th>
            <th>NOME</th>
            <th>COGNOME</th>
            <th>STRUTTURA</th>
            <th>MAIL</th>
            <th>USERID</th>
            <th>RESPONSABILE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>AA_11</td>
            <td>AA_22</td>
            <td>AA_33</td>
            <td>AA_44</td>
            <td>AA_55</td>
            <td>AA_66</td>
            <td>AA_77</td>
          </tr>
          <tr>
              <td>BB_11</td>
              <td>BB_22</td>
              <td>BB_33</td>
              <td>BB_44</td>
              <td>BB_55</td>
              <td>BB_66</td>
              <td>BB_77</td>
            </tr>
            <tr>
              <td>CC_11</td>
              <td>CC_22</td>
              <td>CC_33</td>
              <td>CC_44</td>
              <td>CC_55</td>
              <td>CC_66</td>
              <td>CC_77</td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
