<div *ngIf='!vai' id="loader" >
    <mat-progress-spinner class="loader"  mode="indeterminate"></mat-progress-spinner>
</div>

<!-- TABELLA SCELTA DEL FORM -->
<div *ngIf='!mostraTabella && vai ' id="loader" >
  <div style="height:15%"></div>
  <div class="centrato">
    <mat-form-field *ngIf='dataSource.data.length !== 0'>
      <input matInput #filtro (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
      
    <mat-paginator *ngIf='dataSource.data.length !== 0' [pageSizeOptions]="pageSizeOptions"></mat-paginator>

    <div > 
      <table *ngIf='dataSource.data.length === 0' mat-table [dataSource]="dataSource">
          
        <ng-container  matColumnDef="form_id">
          <th mat-header-cell *matHeaderCellDef > ID </th>         
          <td mat-cell ></td>
        </ng-container>

        <ng-container  matColumnDef="form_name">
          <th mat-header-cell *matHeaderCellDef > Name </th>
          <td mat-cell *matCellDef="let row">  </td>
        </ng-container>

        <ng-container  matColumnDef="user_group_name">
          <th mat-header-cell *matHeaderCellDef > Group Name </th>
          <td mat-cell *matCellDef="let row" > </td>
        </ng-container>

        <ng-container  matColumnDef="cutoff">
          <th mat-header-cell *matHeaderCellDef > CutOff </th>
          <td mat-cell *matCellDef="let row" > </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <p *ngIf='dataSource.data.length === 0'>non sono stati trovati form per questo utente</p>         
      <table *ngIf='dataSource.data.length !== 0' mat-table [dataSource]="dataSource" matSort>

        <ng-container  matColumnDef="form_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>         
          <td mat-cell (click)="!row.cutoff ?prendiDatiForm(row.form_id,row.form_name):''" *matCellDef="let row" [ngStyle]="{'color':row.cutoff ? 'grey' : '', 'cursor':row.cutoff?'not-allowed':'pointer' }"> {{row.form_id}} </td>
        </ng-container>
    
        <ng-container  matColumnDef="form_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell (click)="!row.cutoff ?prendiDatiForm(row.form_id,row.form_name):''" *matCellDef="let row" [ngStyle]="{'color':row.cutoff ? 'grey' : '', 'cursor':row.cutoff?'not-allowed':'pointer' }"> {{row.form_name}} </td>
        </ng-container>
    
        <ng-container  matColumnDef="user_group_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Group Name </th>
          <td mat-cell (click)="!row.cutoff ?prendiDatiForm(row.form_id,row.form_name):''" *matCellDef="let row" [ngStyle]="{'color':row.cutoff ? 'grey' : '', 'cursor':row.cutoff?'not-allowed':'pointer' }" > {{row.user_group_name}} </td>
        </ng-container>

        <ng-container  matColumnDef="cutoff">
          <th mat-header-cell *matHeaderCellDef > CutOff </th>
          <td mat-cell *matCellDef="let row" >{{row.cutoff}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <p *ngFor="let element of erroriArray" style="color:red">{{element}}</p>   
    </div>
  </div>
  <div style="height:15%"></div>
</div>  



<!-- TABELLA FORM SCELTO VISTA ADMINISRATOR -->
<div *ngIf='mostraTabella && vai && daje'>
  <label>admin</label>
<input type="checkbox" *ngIf='isAdmin' [(ngModel)]='daje'>    
     
<div class="centrato">
  <div class="row" style="display: contents" >
    <div>
      <div style="text-align:center">
        <h2>{{title}}</h2>
      </div>


      <form [formGroup]="myInputForm" novalidate (ngSubmit)="save(myInputForm)">
        <div formArrayName="valories">
          <!-- Danial: loop over form fields -->
          <div *ngFor="let language of myInputForm.controls.valories.controls; let i=index" class="panel panel-default" >
            <div *ngIf="arrayFormElements[i].type=='time'" class="panel-body bg-white" [formGroupName]="i">
              <div>
                <div  class="my-form col-sm-12">
                  
                  <mat-form-field appearance="outline" >
                    <mat-label>{{arrayFormElements[i].name}}</mat-label>
                    <input matInput [(ngModel)] ="dt[i]" [min]="minDate[i]" [max]="maxDate[i]" [matDatepicker]="picker" placeholder="inserisci data" class="form-control"    formControlName="valoreUtente">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
              <div>
                <div class="my-form col-xs-3" ></div>
                <div id="divDate" class="row">
                  <div  class="my-form col-sm-6">
                    <mat-form-field appearance="outline">
                      <mat-label>min Date</mat-label>
                      <input matInput [(ngModel)]="minDate[i]" [matDatepicker]="pickerb" [max]="maxDate[i]" class="form-control"   formControlName="valoreMin" >
                      <mat-datepicker-toggle matSuffix [for]="pickerb"></mat-datepicker-toggle>
                      <mat-datepicker #pickerb></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div  class="my-form col-sm-6">  
                    <mat-form-field appearance="outline">
                      <mat-label>max Date</mat-label>
                      <input matInput [(ngModel)]="maxDate[i]"  [min]="minDate[i]"  [matDatepicker]="pickera" class="form-control"   formControlName="valoreMax" >
                      <mat-datepicker-toggle matSuffix [for]="pickera"></mat-datepicker-toggle>
                      <mat-datepicker #pickera></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="my-form col-xs-3" ></div>
              </div>
            </div>


            <div *ngIf="arrayFormElements[i].type!='time'" class="panel-body bg-white" [formGroupName]="i">
              <div>
                <div class="my-form col-sm-12">
                  <mat-form-field appearance="outline">
                    <mat-label>{{arrayFormElements[i].name}}</mat-label>
                    <input *ngIf="arrayFormElements[i].type=='string'" [attr.maxlength]="numeroMax[i]" [attr.minlength]="numeroMin[i]" [(ngModel)]="stringa[i]" matInput placeholder="Placeholder" class="form-control"   formControlName="valoreUtente">
                    <input *ngIf="arrayFormElements[i].type!='string'" matInput [min]="numeroMin[i]" [max]="numeroMax[i]" [(ngModel)]="numero[i]" type="number" placeholder="Placeholder" class="form-control"   formControlName="valoreUtente">
                  </mat-form-field>
                </div>
              </div>
              <div>
                <div class="row">
                  <div class="my-form col-sm-6">
                    <mat-form-field  appearance="outline">
                      <mat-label>inserisci numero minimo</mat-label>
                      <input matInput [max]="numeroMax[i]" [(ngModel)]="numeroMin[i]" type="number" placeholder="inserisci numero minimo" class="form-control"   formControlName="valoreMin">
                    </mat-form-field>
                  </div>
                  <div class="my-form col-sm-6">
                    <mat-form-field  appearance="outline">
                      <mat-label>inserisci numero massimo</mat-label>
                      <input matInput [min]="numeroMin[i]" [(ngModel)]="numeroMax[i]" type="number" placeholder="inserisci numero massimo" class="form-control"   formControlName="valoreMax">
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div *ngIf="erroriArray.length>0">
          <p style="color:red; font-size:16px">{{erroriArray[0]}} </p>
        </div>

        <div class="row" style="display: contents">
          <div formArrayName="campiConfronto" class="panel panel-default">
              <div *ngFor="let language of myInputForm.controls.campiConfronto.controls; let i=index" class="panel-body bg-white" [formGroupName]="i" >
                <div  class="my-form col-xs-3">
                    <mat-form-field appearance="outline">
                      <mat-select placeholder="campo 1"  formControlName="campo1" (selectionChange)="filtraElementi($event.value,i)" disableRipple>
                        <mat-option [value]="defaultFont[0].campo1" selected="selected">{{defaultFont[0].campo1.Name}}</mat-option>
                            
                        <mat-option *ngFor="let element of arrayFormElements " [value]="element" >{{element.name}}</mat-option>
                        
                      </mat-select>
                    </mat-form-field>
                </div>
               
  
               
                <div  class="my-form col-xs-3">
                  <mat-form-field appearance="outline">
                    <mat-select placeholder="confronto"    formControlName="segno" disableRipple>
                      <mat-option *ngFor="let element of confronti " [value]="element">{{element}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              
                <div  class="my-form col-xs-3">
                  <mat-form-field appearance="outline">
                    <mat-select    formControlName="campo2" disableRipple [disabled]="((arraySecondo[i]!=null && arraySecondo[i].length==0)||(arraySecondo[i]==null))" placeholder="campo 2">
                        <mat-option [value]="defaultFont[0].campo2" selected="selected">{{defaultFont[0].campo2.Name}}</mat-option>  
                      <mat-option *ngFor="let element of arraySecondo[i]" [value]="element" >{{element.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
  
                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myInputForm.controls.valories.controls.length > 1" (click)="removeComparisonForm(i)"></span>
              </div>
            </div>
          </div>
  
          <div class="margin-20">
            <a (click)="addComparisonForm('')" style="cursor: pointer">
              Add another Comparison +
            </a>
          </div>
        <table>
          <tr>
            <td>
                <button mat-button  class="btn btn-primary pull-left">
                    <mat-icon>file_upload</mat-icon>
                    carica file
                  </button>
            </td>
            <td>

          <div class="margin-20">
              <button type="submit" class="btn btn-primary pull-right" [disabled]="!myInputForm.valid">Submit</button>
            </div>
            <div class="clearfix"></div>
        </td>
        </tr>
        </table>


      </form>
    </div>
  </div>
</div>
</div>









<!-- TABELLA FORM SCELTO USERS SECONDARIO -->
<div *ngIf='mostraTabella && vai && !daje'>
    
    <label>admin</label>
    <input type="checkbox" *ngIf='isAdmin' [(ngModel)]='daje'>
    <div class="centrato">
      <div class="row" style="display: contents" >
        <div>
          <div style="text-align:center">
            <h2>{{title}}</h2>
          </div>
    
    
          <form [formGroup]="myInputForm" novalidate (ngSubmit)="saveUser()">
            <div formArrayName="valories">
              <div *ngFor="let language of myInputForm.controls.valories.controls; let i=index" class="panel panel-default" >
         
    
                <div *ngIf="arrayFormElements[i].type=='time'" class="panel-body bg-white" [formGroupName]="i">
                  <div>
                    <div class="my-form col-xs-3" ></div>
                    <div  class="my-form col-sm-6">
                      <mat-form-field appearance="outline" >
                        <mat-label>{{arrayFormElements[i].name}}</mat-label>
                        <input disabled matInput [(ngModel)] ="dt[i]" [min]="minDate[i]" [max]="maxDate[i]" [matDatepicker]="picker" placeholder="inserisci data" class="form-control"   formControlName="valoreUtente">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="my-form col-xs-3" ></div>
                  </div>
                  <div>
                    <div id="divDate" >             
                        <label style="width:40%">data minima: </label>{{minDate[i]|date}}
                        <label  style="width:40%">data massima: </label>{{maxDate[i]|date}}
                    </div>
                  </div>
                </div>
    
    
                <div *ngIf="arrayFormElements[i].type!='time'" class="panel-body bg-white" [formGroupName]="i" >
                  <div>
                    <div class="my-form col-xs-3" ></div>
                    <div class="my-form col-sm-6">
                      <mat-form-field appearance="outline" >
                        <mat-label>{{arrayFormElements[i].name}}</mat-label>
                        <input *ngIf="arrayFormElements[i].type=='string'" [attr.maxlength]="numeroMax[i]" [attr.minlength]="numeroMin[i]" [(ngModel)]="stringa[i]" matInput placeholder="Placeholder" class="form-control"   formControlName="valoreUtente">
                        <input *ngIf="arrayFormElements[i].type!='string'" matInput [min]="numeroMin[i]" [max]="numeroMax[i]" [(ngModel)]="numero[i]" type="number" placeholder="Placeholder" class="form-control"   formControlName="valoreUtente">
                      </mat-form-field>
                    </div>
                    <div class="my-form col-xs-3" ></div>
                  </div>
                  <div>     
                    <div >                 
                          <label  style="width:40%">valore minimo: </label>{{numeroMin[i]}}
                          <label style="width:40%">valore massimo: </label>{{numeroMax[i]}}                  
                    </div>               
                  </div>
                </div>
    
              </div>
            </div>
    
            <div *ngIf="erroriArray.length>0">
              <p style="color:red; font-size:16px">{{erroriArray[0]}} </p>
            </div>
    
            <br/>
            <div class="container_upload bg-white">
              <div class="row">
           
                  <div class="col-md-6">
           
                      <h3>Select files</h3>
           
                      <div ng2FileDrop
                           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                           (fileOver)="fileOverBase($event)"
                           [uploader]="uploader"
                           class="well my-drop-zone">
                          Base drop zone
                      </div>
                      Multiple
                      <input type="file" ng2FileSelect [uploader]="uploader" multiple  /><br/>
                      <button (click)='cliccato()'></button>
                      Single
                      <input type="file" ng2FileSelect [uploader]="uploader" />
                  </div>
           
                  <div class="col-md-12" style="margin-bottom: 40px">
           
                      <h3>Upload queue</h3>
                      <p>Queue length: {{ uploader?.queue?.length }}</p>
           
                      <table class="table">
                          <thead>
                          <tr>
                              <th width="50%">Name</th>
                              <th>Size</th>
                              <th>Progress</th>
                              <th>Status</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let item of uploader.queue">
                              <td><strong>{{ item?.file?.name }}</strong></td>
                              <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                              <td *ngIf="uploader.isHTML5">
                                  <div class="progress" style="margin-bottom: 0;">
                                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                  </div>
                              </td>
                              <td class="text-center">
                                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                              </td>
                              <td nowrap>
                                  <button type="button" class="btn-success btn-xs"
                                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                      <span class="glyphicon glyphicon-upload"></span> Upload
                                  </button>
                                  <button type="button" class="btn-warning btn-xs"
                                          (click)="item.cancel()" [disabled]="!item.isUploading">
                                      <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                  </button>
                                  <button type="button" class="btn-danger btn-xs"
                                          (click)="item.remove()">
                                      <span class="glyphicon glyphicon-trash"></span> Remove
                                  </button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
           
                      <div>
                          <div>
                              Queue progress:
                              <div class="progress" style="">
                                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                              </div>
                          </div>
                          <button type="button" class="btn btn-success btn-s"
                                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                              <span class="glyphicon glyphicon-upload"></span> Upload all
                          </button>
                          <button type="button" class="btn btn-warning btn-s"
                                  (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                          </button>
                          <button type="button" class="btn btn-danger btn-s"
                                  (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                              <span class="glyphicon glyphicon-trash"></span> Remove all
                          </button>
                      </div>
           
                  </div>
           
              </div>
           
          </div>
            <table style="margin-bottom:15px">
              <tr style="border-style:1px black">
                  <th>Nome Contratto</th>
                  <th>ID Kpi</th>
              </tr>
              
              <tr *ngFor='let element of listaKpiPerForm'>
                <td>{{element.contract}}</td>
                <td>{{element.id_kpi}}</td>
              </tr>
            </table>

            
            <table>
              <tr>
                <td>
                    <button mat-button  class="btn btn-primary pull-left"    (click)="onClick()">
                        <mat-icon>file_upload</mat-icon>
                        carica file
                      </button>
                </td>
                <td>
    
              <div class="margin-20">
                  <button type="submit" class="btn btn-primary pull-right" [disabled]="!myInputForm.valid">Submit</button>
                </div>
                <div class="clearfix"></div>
            </td>
            </tr>
            </table>

    
          </form>
        </div>
      </div>
    </div>
  </div>




    