<div class="animated fadeIn">
  
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <table class="table table-responsive-sm table-hover table-outline mb-0">
                <thead class="thead-light">
                  <tr>
                    <th class="text-center">ID Form</th>
                    <th class="text-center">Nome Form</th>
                    <th class="text-center">KPI Coinvolti</th>
                    <th class="text-center">Gruppo / Utente</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                  <tr (click)="clickrow()">
                    <td>
                      <div class="text-center">2112</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN_Service Desk</div>
                    </td>
                    <td>
                      <div class="text-center">IMSIN028 - IMSIN029</div>
                    </td>
                    <td>
                      <div class="text-center">danial.munsif@quantis.it</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!--/.col-->
      </div><!--/.row-->
</div>