<div style="margin-top: -20px;">
    <div class="table-responsive" style="background: #ffffff; padding: 10px">
      <br><h2 style="color:#565656">CATALOGO KPI</h2><br>
      <div class="row">
          <input type="text" class="form-control ml-3 mr-1" style="width:10%;" placeholder="Titolo Breve" #searchCol2/>
          <input type="text" class="form-control mr-1" style="width:10%;" placeholder="ID KPI" #searchCol1 />
          <input type="text" class="form-control mr-1" style="width:10%;" placeholder="Referente" #searchCol3/>
          <span>&nbsp;&nbsp;</span>
          <select class="form-control" style="width:10%;" #searchCol4><option value="">All</option></select>
          <span>&nbsp;&nbsp;</span>
          <select class="form-control" style="width:10%;" #searchCol5><option value="">All</option></select>
          <span>&nbsp;&nbsp;</span>
<!--        <button #btnFilter class="mr-2" style="padding-left: 25px; padding-right: 25px;">Filtra</button>-->
          <button #btnExportCSV style="padding-left: 25px; padding-right: 25px">CSV Export</button>
      </div><br/>
      <table class="table table-bordered" #kpiTable>
        <thead style="background: #E6E6E6">
        <tr>
            <th>ABILITATO</th>
            <th>REMINDER</th>
            <th>WORKFLOW</th>
            <th>CONTRACT</th>
            <th>ID_KPI</th>
            <th>TITOLO_BREVE</th>
            <th>CARICAMENTO</th>
            <th>FREQUENZA</th>
            <th>DATA_WF</th>
            <th>DATA_WM</th>
            <th>REFERENTI</th>
            <th>CALCOLO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center"><input type="checkbox"/></td>
            <td align="center"><input type="checkbox"/></td>
            <td align="center"><input type="checkbox"/></td>
            <td>AA_44</td>
            <td>AA_55</td>
            <td>AA_66</td>
            <td>AA_77</td>
            <td>AA_88</td>
            <td>11/2/2019 18:00:00</td>
            <td></td>
            <td align="center"><button class="btn"><i class="fa fa-user" style="font-size:20px;"></i></button></td>
            <td align="center"><button class="btn"><i class="fa fa-edit" style="font-size:20px;"></i></button></td>
          </tr>
          <tr>
            <td align="center"><input type="checkbox"/></td>
            <td align="center"><input type="checkbox"/></td>
            <td align="center"><input type="checkbox"/></td>
            <td>BB_44</td>
            <td>BB_55</td>
            <td>BB_66</td>
            <td>BB_77</td>
            <td>BB_88</td>
            <td>11/2/2019 18:00:00</td>
            <td></td>
            <td align="center"><button class="btn"><i class="fa fa-user" style="font-size:20px;"></i></button></td>
            <td align="center"><button class="btn"><i class="fa fa-edit" style="font-size:20px;"></i></button></td>
            </tr>
          <tr>
            <td align="center"><input type="checkbox"/></td>
            <td align="center"><input type="checkbox"/></td>
            <td align="center"><input type="checkbox"/></td>
            <td>CC_44</td>
            <td>CC_55</td>
            <td>CC_66</td>
            <td>CC_77</td>
            <td>CC_88</td>
            <td>11/2/2019 18:00:00</td>
            <td></td>
            <td align="center"><button class="btn"><i class="fa fa-user" style="font-size:20px;"></i></button></td>
            <td align="center"><button class="btn"><i class="fa fa-edit" style="font-size:20px;"></i></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
