<div style="margin-top: -25px; padding: 10px">
  <h2 style="color:#565656">Catalogo</h2><br>
  <div class="table-responsive" style="background: #ffffff; padding: 10px">
    <br><h2 style="color:#565656">KPI</h2><br>
    <div class="row">
      <input type="text" class="form-control ml-3 mr-1" style="width:15%;" placeholder="ID KPI" #searchCol1/>
      <input type="text" class="form-control ml-3 mr-1" style="width:15%;" placeholder="Titolo Breve" #searchCol2/>
      <input type="text" class="form-control ml-3 mr-1" style="width:15%;" placeholder="Referenti" #searchCol3/>
      <span>&nbsp;&nbsp;</span>
      <select class="form-control" style="width:15%;" #searchCol4><option value="">All</option></select>
      <span>&nbsp;&nbsp;</span>
      <select class="form-control" style="width:15%;" #searchCol5><option value="">All</option></select>
      <span>&nbsp;&nbsp;</span>
      <button #btnExportCSV>CSV Export</button>
    </div><br/>
    <table class="table table-bordered" #kpiTable datatable [dtOptions]="dtOptions">
      <thead>
      <tr *ngFor="let row of kpiTableHeadData; index as i">
        <th>{{row.ABILITATO}}</th>
        <th>{{row.REMINDER}}</th>
        <th>{{row.WORKFLOW}}</th>
        <th>{{row.CONTRACT}}</th>
        <th>{{row.ID_KPI}}</th>
        <th>{{row.TITOLO_BREVE}}</th>
        <th>{{row.CARICAMENTO}}</th>
        <th>{{row.FREQUENZA}}</th>
        <th>{{row.DATA_WF}}</th>
        <th>{{row.DATA_WM}}</th>
        <th>{{row.REFERENTI}}</th>
        <th>{{row.CALCOLO}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of kpiTableBodyData; index as i">
        <td align="center"><input type="checkbox"/></td>
        <td align="center"><input type="checkbox"/></td>
        <td align="center"><input type="checkbox"/></td>
        <td>{{row.contract}}</td>
        <td>{{row.id_kpi}}</td>
        <td>{{row.short_name}}</td>
        <td>{{row.source_type}}</td>
        <td>{{row.tracking_period}}</td>
        <td>{{row.wf_last_sent}}</td>
        <td>{{row.rm_last_sent}}</td>
        <td align="center"><button class="btn" data-toggle="modal" data-target="#referentiModal"    (click)=" refren(row.id)"><i class="fa fa-user" style="font-size:20px;"></i></button></td>
        <td align="center"><button class="btn" data-toggle="modal" data-target="#calcoloModal"    (click)="coloBtn(row.kpi_description)" ><i class="fa fa-edit" style="font-size:20px;"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="referentiModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!--        <h5 class="modal-title" id="approveModalLabel">Giustificativo</h5>-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="classTable" class="table table-bordered">
          <thead style="background: #E6E6E6">
          <tr>
            <th>REFERENTI_INPUT</th>
            <th>REFERENTI_1</th>
            <th>REFERENTI_2</th>
            <th>REFERENTI_3</th>
          </tr>
          </thead>
          <tbody>
          <tr >
            <td>{{this.reft}}</td>
            <td>{{this.ref1}}</td>
            <td>{{this.ref2}}</td>
            <td>{{this.ref3}}</td>

          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" >
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div id="calcoloModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <!--        <h5 class="modal-title" id="approveModalLabel">Giustificativo</h5>-->
        <button type="button"   class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <textarea class="form-control">{{this.des}}</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
