<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KPI</title>
</head>
<body>
<div style="margin-top: -25px; padding: 10px">
  <h2 style="color:#565656">Workflow</h2><br>
  <div class="row mb-2">
    <button type="button" class="btn btn-danger ml-3 mr-1" data-toggle="modal" data-target="#rejectModal" style="padding-left: 25px; padding-right: 25px; box-shadow: 0px 2px 2px #888888;">RIFIUTA</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#approveModal" style="padding-left: 25px; padding-right: 25px; box-shadow: 0px 2px 2px #888888;">APPROVA</button>
  </div>
  <div class="table-responsive" style="background: #ffffff; padding: 10px">
    <br><h2 style="color:#565656">KPI in verifica</h2><br>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th scope="col">Ticket</th>
        <th scope="col">Stato</th>
        <th scope="col">Contratto</th>
        <th scope="col">Gruppo</th>
        <th scope="col">Info</th>
        <th scope="col">ID KPI</th>
        <th scope="col">Tipologia</th>
        <th scope="col">Periodo</th>
        <th scope="col">Target</th>
        <th scope="col">Valore</th>
        <th scope="col">Escalation</th>
        <th scope="col">Ultima Azione</th>
        <th scope="col">Allegati</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="checkbox" /></td>
        <td>37313256</td>
        <td>BSI Verifica</td>
        <td>26 - UNICO - IMSIN026</td>
        <td>IMEL Resp Contratto</td>
        <td>INDICATORE</td>
        <td>ContrattoUnico_26</td>
        <td>Monitoraggio</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<!-- Modal -->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rejectModalLabel">Giustificativo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control">Giustificativo rifiuto</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULLA</button>
        <button type="button" class="btn btn-primary">INVIA</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="approveModalLabel">Giustificativo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea class="form-control">Giustificativo approvazione</textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULLA</button>
        <button type="button" class="btn btn-primary">INVIA</button>
      </div>
    </div>
  </div>
</div>
</html>
